*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', sans-serif;
}
header{
    background: url(../images/header_bg.png) center/cover no-repeat;
    height: 700px;
}
.header_page{
    padding-top: 293px;
    padding-left: 403px;
    color: #70869d;
    font-size: 50px;
}
h1{
    padding-top: 37px;
    padding-left: 403px;
    font-size: 70px;
    color: #404040;
}
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
.container{
    width: 1115px;
    margin: 95px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_1{
    width: 550px;
    height: 260px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}
.main_page{
    margin-left: 30px;
}
.main_page h3{
    color: #1f3750;
    font-size: 18px;
}
.main_page p{
    color: #70869d;
    line-height: 24px;
    font-weight: lighter;
}
.main_page a{
    display: block;
    width: 160px;
    height: 40px;
    padding-top:7px;
    box-sizing: border-box;
    margin-top: 9px;
    background: #f2f2f2;
    color: #70869d;
    text-decoration: none;
    text-align: center;
}
.main_page a:hover{
    background: #0092b6;
    color: white;
}
/* ================================================================== */
/* ================================================================== */
.main_content{
    background: #f3f9ff;
    width: 1115px;
    margin: 95px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;  
}
.main_2{
    width: 200px; 
    padding-top: 48px;
    padding-bottom: 48px; 
}
.main_2 h4{
    color: #1f3750;
    line-height: 27px;
    font-size: 16px;
}
.main_2 img{
    padding-top: 35px;
    padding-bottom: 30px;
}
.main_2 p{
    padding-bottom: 25px;
    font-weight: lighter;
    line-height: 24px;
    color: #70869d;
}
.main_2 a{
    font-weight: bold;
    color: #1f3750;
}
h2{
    color: #1f3750;
    font-size: 20px;
    text-align: center;
    margin:48px 0;
}
/* ===================================================================== */
/* ===================================================================== */
.lists{
    margin-bottom: 100px;
    margin-right: 200px;
}
.lists li{
    list-style: none;
}
.lists a{
  color: #70869d;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;  
}
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
/* ===================================================================== */
footer{
    background: #f3f9ff;
    margin-bottom: 55opx;
}
footer h3{
    padding: 43px 0;
    font-size: 20px;
    color: #444444;
}
.footer_nav{
    list-style: none;
    padding: 43px 0;
    display: flex;
}
.footer_nav a{
    text-decoration: none;
    margin-left:15px;
    color: #6d6d6d;
}
